#main-navbar.collapse.navbar-collapse(pb-mobile-menu-close='')
    ul.nav.navbar-nav
        li.divider-vertical.hidden-xs
        li.dropdown(ng-repeat="menuItem in MenuCtrl.menuItems")
            a.dropdown-toggle(data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false', ng-class="{'selected-tab': (MenuCtrl.selectedTab == menuItem.menuSelected)}") {{menuItem.name}}
            ul.dropdown-menu.pb-animate-menu
                li(ng-repeat="subMenu in menuItem.subMenu")
                    a(target="{{subMenu.target}}", href="{{subMenu.href}}", ng-click="MenuCtrl.setSelectedMenu(menuItem.menuSelected)", subMenu.attributes) {{subMenu.name}}

                
    // start right menus
    ul.nav.navbar-nav.navbar-right( id='headerright-devportal')
        // Help menu
        li.divider-vertical.hidden-xs 
        li.dropdown(ng-repeat="menuItem in MenuCtrl.rightMenu")
            a(data-toggle='dropdown', {{menuItem.attributes}}, ng-class="{'selected-tab': (MenuCtrl.selectedTab == menuItem.menuSelected)}") 
                 span(ng-if="menuItem.type == 'text'") {{menuItem.name}}
                 span(ng-if="menuItem.type == 'html'" ng-bind-html="MenuCtrl.renderHtml(menuItem.htmlCode)")    
            ul.dropdown-menu.pb-animate-menu
                li(ng-repeat="subMenu in menuItem.subMenu")
                    a(target="{{subMenu.target}}", href="{{subMenu.href}}", ng-click="MenuCtrl.setSelectedMenu(menuItem.menuSelected)", subMenu.attributes) {{subMenu.name}}
        